/*body{
    overflow: hidden;
}
#taskboard{
    overflow-y: auto;
    height: 500px;
}*/
.fleft{
    float: left;
}
.fright{
    float: right;
}
.f16{
 font-size: 16px !important;   
}
button.btn.btn-raised.btn-icon.btn-success.fright{
    margin: 0em 1em;
}